<p class="text-center">
    {{ "Home.modal.app.explain1"|trans|raw }}
</p>
<p class="text-center">
        <a href="{{ parameters.link }}" target="_blank">
            <img class="img-responsive" src="{{ asset('images/Google-Play.png') }}" alt="GooglePlay"/>
        </a>
</p>
<p class="text-center">
    {{ "Home.modal.app.explain2"|trans|raw }}
</p>
