{% extends 'SopinetTemplateSbadmin2Bundle:Base:god.html.twig' %}

{% block title %}Trazeo{% endblock %}

{% block body %}

{% embed 'SopinetTemplateSbadmin2Bundle:Base:navbar.html.twig' with {
		'custom_link_1': "http://trazeo.es/help/manual_padres.html",
		'custom_text_1': "Manual de Usuario",
		'custom_icon_1': "fa-question",
		'on_new_tab': true
    } %}
	{% block add_navbar %}
		{% include 'SopinetUserNotificationsBundle:Include:mini.html.twig' with {
				'notifications': app.user|getSopinetUserNotifications()
			} %}
			
	{% endblock %}
{% endembed %}


{% include 'SopinetTemplateSbadmin2Bundle:Base:sidebar.html.twig' %}
	<div id="page-wrapper">
	
		{% if pageheader_title is not defined %}

			{% set pageheader_title = '' %}
  			<img id="panel-logo" class='img-responsive' src='{{ asset('images/trazeo_logo.png') }}' alt='Trazeo' title='Trazeo' />
			{% set pageheader_description = "" %}
		{% endif %}
	
			{% include 'SopinetTemplateSbadmin2Bundle:Base:pageheader.html.twig' with {
				'title': pageheader_title,
				'description': pageheader_description
				} 
			%}
	{% block panel_nav %}

       {% endblock %}	
			
		{% block body_content %}
			
		{% endblock %}
	</div>
{% endblock %}

{% block js %}
	{{ parent() }}
	{% if suggestion is defined and suggestion is not empty %}
		{% include "SopinetSuggestionBundle:Suggestion:_suggestions.js.twig" with {
			'suggestions': suggestion,
		} %}
    {% else %}
        {% include "SopinetSuggestionBundle:Suggestion:_suggestions.js.twig" %}
    {% endif %}
	{% include "TrazeoFrontBundle:Panel:_zopim.js.twig" %}
	{% include "SopinetUserNotificationsBundle:Include:mini.js.twig" %}
	{% include 'SopinetFlashMessagesBundle:Messages:notification.html.twig' %} 	
	<script type="text/javascript">
	isMobile = {
    Android: function() {
        return navigator.userAgent.match(/Android/i);
    },
    BlackBerry: function() {
        return navigator.userAgent.match(/BlackBerry/i);
    },
    iOS: function() {
        return navigator.userAgent.match(/iPhone|iPad|iPod/i);
    },
    Opera: function() {
        return navigator.userAgent.match(/Opera Mini/i);
    },
    Windows: function() {
        return navigator.userAgent.match(/IEMobile/i) || navigator.userAgent.match(/WPDesktop/i);
    },
    any: function() {
    	if((isMobile.Android() || isMobile.BlackBerry() || isMobile.iOS() || isMobile.Opera() || isMobile.Windows())==null)return 'Desktop';
        return (isMobile.Android() || isMobile.BlackBerry() || isMobile.iOS() || isMobile.Opera() || isMobile.Windows());
    	}
	};
	</script>
{% endblock %}