{% extends 'SopinetTemplateSbadmin2Bundle:Base:god.html.twig' %}

{% block title %}Trazeo{% endblock %}

{% block body %}

{% include 'SopinetTemplateSbadmin2Bundle:Base:navbar.html.twig' %}
{% include 'SopinetTemplateSbadmin2Bundle:Base:sidebar.html.twig' %}
	<div id="page-wrapper">	
		{% block body_content %}
			<div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                    {% trans %}
                     Dashboard
                    {% endtrans %}
                    </h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
		{% endblock %}
	</div>

{% endblock %}