{% extends 'SopinetTemplateSbadmin2Bundle:Base:god.html.twig' %}

{% block title %}Trazeo{% endblock %}

{% block body %}

{% embed 'SopinetTemplateSbadmin2Bundle:Base:navbar.html.twig' %}
	{% block add_navbar %}
		{% include 'SopinetUserNotificationsBundle:Include:mini.html.twig' with {
				'notifications': app.user|getSopinetUserNotifications()
			} %}
			
	{% endblock %}
{% endembed %}

{% include 'SopinetTemplateSbadmin2Bundle:Base:sidebar.html.twig' %}
	<div id="page-wrapper">
		{% if pageheader_title is not defined %}
			{% set pageheader_title = "Trazeo" %}
			{% set pageheader_description = "" %}
		{% endif %}
			{% include 'SopinetTemplateSbadmin2Bundle:Base:pageheader.html.twig' with {
				'title': pageheader_title,
				'description': pageheader_description
				} 
			%}
	{% block panel_nav %}
       <div class="alert">
			<div class="pull-right">
			<a href="{{ path('panel_child_new') }}">
				<button type="button" class="btn btn-success btn-outline">
					<i class="fa fa-plus-circle"></i> <i class="fa fa-user"></i> A単adir ni単o a Trazeo									
				</button>
			</a>
			<a href="{{ path('panel_group_new') }}">
				<button type="button" class="btn btn-success btn-outline">
					<i class="fa fa-plus-circle"></i> <i class="fa fa-users"></i> A単adir grupo									
				</button>
			</a>
			<a href="{{ path('panel_route_new') }}">
				<button type="button" class="btn btn-success btn-outline">
					<i class="fa fa-plus-circle"></i> <i class="fa fa-location-arrow"></i> A単adir ruta									
				</button>
			</a>
			</div>
       </div>
       <br />
       {% endblock %}
			
			
		{% block body_content %}
			
		{% endblock %}
	</div>

{% endblock %}

{% block js %}
	{{ parent() }}
	{% include "SopinetUserNotificationsBundle:Include:mini.js.twig" %}
	{% include 'SopinetFlashMessagesBundle:Messages:notification.html.twig' %} 	
{% endblock %}