{% extends 'SopinetTemplateSbadmin2Bundle:Base:god.html.twig' %}

{% block title %}Trazeo{% endblock %}

{% block body %}

{% embed 'SopinetTemplateSbadmin2Bundle:Base:navbar.html.twig' %}
	{% block add_navbar %}
		{% include 'SopinetUserNotificationsBundle:Include:mini.html.twig' with {
				'notifications': app.user|getSopinetUserNotifications()
			} %}
	{% endblock %}
{% endembed %}

{% include 'SopinetTemplateSbadmin2Bundle:Base:sidebar.html.twig' %}
	<div id="page-wrapper">
		{% if pageheader_title is not defined %}
			{% set pageheader_title = "Trazeo" %}
			{% set pageheader_description = "" %}
		{% endif %}
			{% include 'SopinetTemplateSbadmin2Bundle:Base:pageheader.html.twig' with {
				'title': pageheader_title,
				'description': pageheader_description
				} 
			%}
		{% block body_content %}
		
			
		{% endblock %}
	</div>

{% endblock %}

{% block js %}
	{{ parent() }}
	{% include "SopinetUserNotificationsBundle:Include:mini.js.twig" %}
{% endblock %}
{#
{% block js %}
	{{ parent() }}
	<script>
	$('.inputDate').datepicker({
		language: "es"
        })
        </script>
{% endblock %}
#}