{% extends 'SopinetTemplateLandingBundle:Base:god.html.twig' %}

{% block title %}Trazeo - Landing{% endblock %}

{% block body %}
<section id="header" class="appear"></section>
		
	{% block body_content %}{% endblock %}

{% include 'SopinetTemplateLandingBundle:Base:footer.html.twig' %}
{% endblock %}