{% extends 'SopinetTemplateAmoebaBundle:Base:god.html.twig' %}

{% block title %}Trazeo - Landing{% endblock %}

{% block body %}
<section id="header" class="appear"></section>
{% include 'SopinetTemplateAmoebaBundle:Base:navbar.html.twig' %}
		
	{% block body_content %}{% endblock %}

{% endblock %}