{% extends 'TrazeoFrontBundle:Public:base.html.twig' %}

{% block css %}
	{{ parent() }}
	<style>
		.cofinanciadores {
		
		}
		.cof_image_small {
			width: 100px;
		}
		
		.cof_image_big {
			width: 200px;
		}
		
		.cof_text {
			color: #000;
		}
	</style>
{% endblock %}

{% block body_content %}
<section class="featured">
	<div class="container"> 
		<div class="row cofinanciadores" id="cofinanciadores_10">
			<div class="cof_text">Nacho Álvarez Ruiz</div>
			<div class="cof_text">Juan M. Molina</div>
			<div class="cof_text">Luis M. Fernández</div>
			<div class="cof_text">Manuel Gómez de la Haba</div>
			<div class="cof_text">Antonio Aguilera Gavilán</div>
			<div class="cof_text">Clara Guijarro Jiménez</div>
			<div class="cof_text">Familia Ginés Miranda</div>
			<div class="cof_text">José A. Fernández</div>
			<div class="cof_text">Roberto García</div>
			<div class="cof_text">Ale Urquízar</div>
			<div class="cof_text">CODECTION</div>
			<div class="cof_text">Gerardo Prados</div>
			<div class="cof_text">Juan Bolaños</div>
			<div class="cof_text">city360</div>
			<div class="cof_text">Miguel Antúnez López</div>
			<div class="cof_text">AMPA del CEIP Sta. Águeda (Benicàssim)</div>
			<div class="cof_text">FREAKS PUBLICIDAD</div>
			<div class="cof_text">Paco Rosales</div>
			<div class="cof_text">Pablo Gas García</div>
			<div class="cof_text">Jorge y Gema</div>
			<div class="cof_text">BOB HASTINGS</div>
			<div class="cof_text">Asociación OMAUlab</div>
			<div class="cof_text">Sergio Gómez</div>
			<div class="cof_text">Manuel Pedraza Pérez</div>
			<div class="cof_text">CORTINAS LEVANTE</div>
			<img src="http://www.sopinet.com/media/sopinetoliva1.png" class="cof_image_small"/>
			<img src="http://www.sopinet.com/media/sopinetoliva1.png" class="cof_image_big"/>
		</div>
	</div>
</section>
{% endblock %}

{% block js %}
	{{ parent() }}
	<script>
	$(document).ready(function()
		    {
		        $("#cofinanciadores_10").cloud();
		    }
		);
	</script>
{% endblock %}
