{% extends 'TrazeoFrontBundle:Public:base.html.twig' %}

{% block body_content %}
<section class="featured">
	<div class="container"> 
		<div class="row" style="background-color:#000" id="cofinanciadores_10">
			<div>Antonio</div>
			<div>Pepe</div>
			<div>Garcia</div>
			<div>Tu Colega</div>
			<div>Amiguitos</div>
			<img src="http://www.sopinet.com/media/sopinetoliva1.png" width="100px"/>
		</div>
	</div>
</section>
{% endblock %}

{% block js %}
	{{ parent() }}
	<script>
	$(document).ready(function()
		    {
		        $("#cofinanciadores_10").cloud();
		    }
		);
	</script>
{% endblock %}