{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

{% block side_bar_after_nav %}
    <ul class="sidebar-menu">
        <li class="treeview">
            <a href="#">
                <i class="fa fa-user"></i>
                <span>Hola</span>
                <i class="fa pull-right fa-angle-left"></i>
            </a>
        </li>
    </ul>
{% endblock %}

{% block content %}
    {# TODO: Aquí entran cosas #}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}