{% extends 'SonataAdminBundle:Core:dashboard.html.twig' %}

{% block top_bar_after_nav %}
    <li>
        <a href="#">
            Statistik TODO: ELIMINAR ESTE FICHERO
        </a>
    </li>
{% endblock %}