parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     database
    database_user:     user
    database_password: pass

    mailer_transport:  gmail
    mailer_host:       127.0.0.1
    mailer_user:       mail
    mailer_password:   pass
    mailer_port:       465
    mailer_email:      hola@trazeo.es

    locale:            es
    secret:            ThisTokenIsNotSoSecretChangeIt
    base_url:          base_url

    sopinet_user_facebook_id: sopinet_user_facebook_id
    sopinet_user_facebook_secret: sopinet_user_facebook_secret
    sopinet_user_google_id: sopinet_user_google_id
    sopinet_user_google_secret: sopinet_user_google_secret
    sopinet_user_sucess: sopinet_user_success

    exchange_code: exchange_code

    gcm_api_key: gcm_api_key
    mailer_service: "swiftMailer"

    api_token: api_token_for_apps

    rabbit_server:
    rabbit_port:
    rabbit_user:
    rabbit_pass:

    report_error_to_email: emailForReport@gmail.com