<h3>
	<div class="pull-left">
		Listado de Rutas Disponibles
	</div>
 	<div class="pull-right">		
		<select class="form-control change-city" name="city">
			<option value="all"> - {{ "City.all"|trans }} - </option>
			{% for c in cities %}
			<option {% if city == c.id %} selected="selected" {% endif %}value="{{ c.nameUtf8 }}">{{ c.nameUtf8 }}</option>
			{% endfor %}
		</select>
 	</div>
</h3>
<div style="clear:both"></div>	
{% for route in routes %}
    {% include 'TrazeoFrontBundle:PanelRoutes:_rowRoute.html.twig' with {'route':route} %}
{% endfor %}