{% set activeMenu = "route" %}
{% set pageheader_title = "Route.new.title"|trans %}
{% set pageheader_description = "Route.new.description"|trans %}
{% extends 'TrazeoFrontBundle:Panel:base.html.twig' %}

		{% block body_content %}
			<div class="row">
                <div class="col-lg-12">
                	<h4 class="alert alert-success"><i class="fa fa-compass"></i>&nbsp; {{ "Route.new.new"|trans }}</h4>
                </div>
                <div class="col-lg-12 alert alert-warning">
    				{{ form(form) }}
            	</div>
		{% endblock %}