{% set activeMenu = "route" %}
{% set pageheader_title = "Route.show.title"|trans({'%name%': entity.name}) %}
{% set pageheader_description = "Route.show.description"|trans %}
{% extends 'TrazeoFrontBundle:Panel:base.html.twig' %}

		{% block body_content %}
		{{ entity.country.name }}
		<h3>Grupos de esta ruta</h3>
            <button type="button" class="btn btn-info btn-circle btn-xl"><i class="fa fa-plus"></i></button>
            {% for group in groups %}
            	{{ group.name }}
            {% endfor %}
		{% endblock %}
		
