{% set activeMenu = "children" %}
{% set pageheader_title = "Children.edit.title"|trans %}
{% set pageheader_description = "Children.edit.description"|trans %}
{% extends 'TrazeoFrontBundle:Panel:base.html.twig' %}

		{% block body_content %} 
			<div class="row">
                <h4 class="alert alert-success"><i class="fa fa-user"></i>&nbsp; {{ child.nick }} {% include 'SopinetTemplateSbadmin2Bundle:Elements/Basics:helper.html.twig' with{id:'child',help_text: "Help.button.editChild"|trans}%}</h4>
                <div class="alert alert-warning">
    				{{ form(edit_form) }}
		        	<ul class="record_actions">
						<li>{{ form(delete_form) }}</li>    
					</ul>
                </div>
            </div>
		{% endblock %}
{% block js %}
{{ parent() }} 
	{% include 'TrazeoFrontBundle:PanelChildren:_edit_children_analytics.html.twig' %}
	
{% endblock %}