{% set activeMenu = "children" %}
{% set pageheader_title = "Children.edit.title"|trans %}
{% set pageheader_description = "Children.edit.description"|trans %}
{% extends 'TrazeoFrontBundle:Panel:base.html.twig' %}

		{% block body_content %}
		           
			<div class="row">
                <div class="col-lg-12">
                	<h4 class="alert alert-info">{{ child.nick }}</h4>
                	<p class="well">En esta página puedes modificar los datos de tu niño. Sólo utilizamos estos datos para darte un
mejor servicio. Sólo tú podrás verlos (ningún otro padre o madre). Los campos marcados con
asterisco son necesarios.
                	</p>
                </div>
                <div class="col-lg-12 alert alert-warning">
       
    {{ form(edit_form) }}

        <ul class="record_actions">

    <li>{{ form(delete_form) }}</li>    

                </div>
                <button class="btn btn-primary"><i class="fa fa-save"></i> Guardar</button>
            </div>
		
		{% endblock %}