{% set activeMenu = "children" %}
{% set pageheader_title = "Children.index.title"|trans %}
{% set pageheader_description = "Children.index.description"|trans %}
{% extends 'TrazeoFrontBundle:Panel:base.html.twig' %}

		{% block body_content %}               
        	{% for entity in entities %}
            <tr>
               
                <td>{{ entity.nick }}</td>
                <td>{% if entity.dateBirth %}{{ entity.dateBirth|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.visibility }}</td>
                <td>{{ entity.sex }}</td>
                <td>
                
                </td>
            </tr>
        {% endfor %}
		{% endblock %}
		
