{% set activeMenu = "children" %}
{% set pageheader_title = "Children.new.title"|trans %}
{% set pageheader_description = "Children.new.description"|trans %}
{% extends 'TrazeoFrontBundle:Panel:base.html.twig' %}

		{% block body_content %}
			<div class="row">
                <div class="col-lg-12">
                	<h4 class="alert alert-success"><i class="fa fa-user"></i>&nbsp;{{ "Children.new.register"|trans }} {% include 'SopinetTemplateSbadmin2Bundle:Elements/Basics:helper.html.twig' with{id:'child',help_text: "Help.button.newChild"|trans}%}</h4>
                </div>
                <div class="col-lg-12 alert alert-warning">
    				{{ form(form) }}
            	</div>
		{% endblock %}
{% block js %}
	{{ parent() }} 
	{% include 'TrazeoFrontBundle:PanelChildren:_new_children_analytics.html.twig' %}
{% endblock js %}