<h3>
	<div class="pull-left">
		{{"Points.historical.description"|trans}}
	</div>
</h3>
<div style="clear:both"></div>	
{% for userChild in userChilds %}
    {% include 'TrazeoFrontBundle:PanelPoint:_rowHistorical.html.twig' with {
    'userChild' : userChild,
    'distance' : distances[userChild.id],
    'point' : points[userChild.id]}
     %}
{% endfor %}