<form method="post" action="ride/report">
	<input type="text" name="email">
	<input type="text" name="pass">
	<input type="text" name="id_ride">
	<input type="text" name="texto">
	<input type="text" name="tipo_de_incidencia">
	
	<input type="submit">
</form>