<<<<<<< HEAD
<form method="post" action="ride/finish">
	<input type="text" name="email">
	<input type="text" name="pass">
	<input type="text" name="id_ride">
=======
<form method="post" action="ride/sendPosition">
	<input type="text" name="id_ride">
	<input type="text" name="email">
	<input type="text" name="pass">
	<input type="text" name="latitude">
	<input type="text" name="longitude">
	<!-- <input type="text" name="texto">
	<input type="text" name="tipo_de_incidencia"> -->
>>>>>>> a65987aaf3e91908c9db47f9fc59d52842564f0e
	
	<input type="submit">
</form>