<form method="post" action="login">
	<input type="text" name="username">
	<input type="text" name="password">
	<input type="text" name="nonce">
	<input type="text" name="created">
	
	<input type="submit">
</form>