<form method="post" action="ride/sendChildInRide">
	<input type="text" name="email">
	<input type="text" name="pass">
	<input type="text" name="id_ride">
	<input type="text" name="id_child">
	
	<input type="submit">
</form>