<!-- START resumeGroups -->
 <div class="resumeGroups alert" id="groups">
 			{% for groupMember in groupsMember %}
 				{% include 'TrazeoFrontBundle:PanelGroups:_rowGroup.html.twig' with {'groupMember': groupMember}  %}
 			{% endfor %}
 			
 			{% for restGroup in restGroups %}
 				{% if restGroup.Visibility  != 2 %}
 					{% include 'TrazeoFrontBundle:PanelGroups:_rowGroup.html.twig' with {'groupMember': restGroup}  %}
 				{% endif %}
 			{% endfor %}
 </div>