{% set activeMenu = "groups" %}
{% set pageheader_title = "Groups.edit.title"|trans %}
{% set pageheader_description = "Groups.edit.description"|trans %}
{% extends 'TrazeoFrontBundle:Panel:base.html.twig' %}

	{% block body_content %}
			<div class="row">
                <div class="col-lg-12">
                	<h4 class="alert alert-success"><i class="fa fa-location-arrow"></i>&nbsp; {{ group.name }}</h4>
                </div>
                <div class="col-lg-12 alert alert-warning">
    				{{ form(edit_form) }}
            	</div>
	{% endblock %}