{% include 'SopinetTemplateSbadmin2Bundle:Emails:header.html.twig' %}
	<table>
		<tr style="background-color:#ccc">
			<td style="padding:6px;color:#333;">
				Trazeo caminos escolares: el camino al cole de tus hijos
			</td>
			<td style="padding:6px;color:#333;">
				{{ user.nick }} te ha invitado a unirte al grupo de pedibus {{ group.name }}
			</td>
			<td style="text-align:center;" width="20%">
				<a href="{{ base_url ~ link }}">¡Regístrarme!</a>
			</td>
		</tr>
	</table>
{% include 'SopinetTemplateSbadmin2Bundle:Emails:footer.html.twig' %}