{% include 'SopinetTemplateSbadmin2Bundle:Emails:header.html.twig' %}
		<h3>Trazeo caminos escolares: el camino al cole de tus hijos</h3>
		<table>
			<tr style="background-color:#ccc">
				<td style="padding:6px;color:#333;">
					<b>Usuario te ha invitado a unirte al grupo de pedibus grupo</b>
				</td>
				<td style="text-align:center;" width="20%">
					<a href="link">¡Registrarme!</a>
				</td>
			</tr>
		</table>
{% include 'SopinetTemplateSbadmin2Bundle:Emails:footer.html.twig' %}