{% include 'SopinetTemplateSbadmin2Bundle:Emails:header.html.twig' %}
	<table>
		<tr style="background-color:#ccc">
			<td style="padding:6px;color:#333;">
				Ha recibido una invitación para Registrarse en el sistema de Trazeo y acceder a un Grupo
			</td>
			<td style="text-align:center;" width="20%">
				<a href="{{ base_url ~ link }}">¡Regístrarme!</a>
			</td>
		</tr>
	</table>
{% include 'SopinetTemplateSbadmin2Bundle:Emails:footer.html.twig' %}