{% set activeMenu = "groups" %}
{% set pageheader_title = "Groups.new.title"|trans %}
{% set pageheader_description = "Groups.new.description"|trans %}
{% extends 'TrazeoFrontBundle:Panel:base.html.twig' %}

		{% block body_content %}
			<div class="row">
                <div class="col-lg-12">
                	<h4 class="alert alert-success"><i class="fa fa-users"></i>&nbsp; Nuevo Grupo</h4>
                </div>
                <div class="col-lg-12 alert alert-warning">
    				{{ form(form) }}
            	</div>
		
		{% endblock %}